@{
    var isStaff = User.IsInRole("Staff");
    var isUser = User.IsInRole("Member");
    var cartItemCount = HttpContextAccessor.HttpContext.Session.GetInt32("CartItemCount") ?? 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaStore</title>
    @inject IHttpContextAccessor HttpContextAccessor
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo"><img src="~/img/logo.png" alt="logo" /></a>
        <ul class="navbar">
             @if (isStaff || isUser)
            {
                <li><a href="#">Hello @User.Identity.Name</a></li>
            }
            <li><a asp-area="" asp-page="/Index">Home</a></li>
            @if (isStaff)
            {
                <li><a asp-area="" asp-page="/Product/Menu">Menu</a></li>
                <li><a asp-area="" asp-page="/Order/Order">List Order</a></li>
                <li><a asp-area="" asp-page="/Staff/ManageAccount">Account</a></li>
                <li><a asp-area="" asp-page="/Logout/Logout">Logout</a></li>
            }
            else if (isUser)
            {
                <li><a asp-area="" asp-page="/Product/Menu">Menu</a></li>
                <li>
                    <a asp-area="" asp-page="/cartItem/Cart">
                        <i class="bx bx-cart"></i>
                        Cart
                    </a>
                    <span id="cart-item-count" class="badge badge-light">@cartItemCount</span>
                </li>
                <li><a asp-area="" asp-page="/Order/Order">My Order</a></li>
                <li><a asp-area="" asp-page="/Staff/ManageAccount">My Account</a></li>
                <li><a asp-area="" asp-page="/Logout/Logout">Logout</a></li>
            }
            else
            {
                <li><a asp-area="" asp-page="/Product/Menu">Menu</a></li>
                <li><a asp-area="" asp-page="/Authen/Login">Login</a></li>
            }
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

     <footer class="border-top footer text-muted">
         <div class="container">
             &copy; 2024 - PizzaStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
         </div>
     </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>