@page
@model PizzaStore.Pages.Staff.CreateProductModel
@{
    ViewData["Title"] = "Create Pizza - Food Website";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/createProduct.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <section class="pizza-menu" id="menu">
        <div class="pizza-main-text">
            <h2>Create New Product</h2>
            <p>Please fill out the form below to create a new product.</p>
            <a href="/Staff/MenuStaff" class="pizza-back-link">Back to Menu</a>
        </div>
        <div class="pizza-form-content">
            <form method="post" enctype="multipart/form-data">
                <div class="pizza-input-group">
                    <label asp-for="ProductVMs.ProductName" class="control-label">Product Name:</label>
                    <input asp-for="ProductVMs.ProductName" class="pizza-form-control" />
                    <span asp-validation-for="ProductVMs.ProductName" class="text-danger"></span>
                </div>
                <div class="pizza-input-group">
                    <label asp-for="ProductVMs.QuantityPerUnit" class="control-label">Quantity:</label>
                    <input asp-for="ProductVMs.QuantityPerUnit" class="pizza-form-control" />
                    <span asp-validation-for="ProductVMs.QuantityPerUnit" class="text-danger"></span>
                </div>
                <div class="pizza-input-group">
                    <label asp-for="ProductVMs.UnitPrice" class="control-label">Price:</label>
                    <input asp-for="ProductVMs.UnitPrice" class="pizza-form-control" />
                    <span asp-validation-for="ProductVMs.UnitPrice" class="text-danger"></span>
                </div>
                <div class="pizza-input-group">
                    <label asp-for="ProductVMs.Category.CategoryName" class="control-label">Category:</label>
                    <div class="dropdown">
                        <select asp-for="ProductVMs.CategoryID" class="pizza-form-control" asp-items="ViewBag.CategoryID"></select>
                    </div>
                </div>
                <div class="pizza-input-group">
                    <label asp-for="ProductVMs.Supplier.CompanyName" class="control-label">Supplier:</label>
                    <div class="dropdown">
                        <select asp-for="ProductVMs.SupplierID" class="pizza-form-control" asp-items="ViewBag.SupplierID"></select>
                    </div>
                </div>
                <div class="pizza-input-group">
                    <label asp-for="File" class="control-label"></label>
                    <input asp-for="File" type="file" class="pizza-form-control" />
                </div>
                <button type="submit" class="pizza-submit-button">Create Pizza</button>
            </form>
        </div>
    </section>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
