@page
@model PizzaStore.Pages.Authen.LoginModel
@{
    ViewData["Title"] = "Pizza Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <section>
        <div class="pizza-login-container">
            <div class="pizza-login-box">
                <h2 class="pizza-h2">Login</h2>
                <form method="post">
                    <div class="pizza-input-group" style="margin-bottom: 15px;">
                        <label asp-for="Username" style="display: block; margin-bottom: 5px;"></label>
                        <input asp-for="Username" required style="width: 100%;" />
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="pizza-input-group" style="margin-bottom: 15px;">
                        <label asp-for="Password" style="display: block; margin-bottom: 5px;"></label>
                        <input asp-for="Password" type="password" required style="width: 100%;" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <button type="submit" class="pizza-login-btn">Login</button>
                </form>
                <p class="pizza-register-link">
                    Don't have an account? <a asp-area="" asp-page="/Authen/Register">Register here</a>
                </p>
            </div>
        </div>
    </section>



    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
